.panel {

    background-image: url(../../../public/image/backgoundLogin.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;

    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.table {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/*-------------------- Sidebar ----------------------- */

.sidebar {
    
    height: 100%;
    width: 29.7rem;
    background-color: #000;
    /* border: 3px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;

    border-radius: 29px 0 0 29px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: flex-start; */

}

.sidebar__button_close {

    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 14.6rem;
    height: 4.3rem;
    /* flex: 0 0 7%; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;

}
/*-------------------- Sidebar ----------------------- */

.elements {
    
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #0E0E0E;
    border-radius: 0 29px 29px 0;
}


/*---------------------- User --------------------- */
.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__image_container{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__image{
    border-radius: 50px;
    width: 10.2rem;
    height: 10.2rem;
    object-fit: cover;
}

.user__name {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.user__name_rol {
    font-size: 1.4rem;
    font-weight: 400;
}
/*---------------------- User --------------------- */

/*---------------------- navegate ----------------- */

.navegate{
    width: 118%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navegate__nav{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.navegate__list_link{
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
}

.nav__link{
    color: white;
}

.nav__link_anchor{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*---------------------- navegate ----------------- */